.homePage {
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.content {
    width: 347px;
    font-family: 'MuseoModerno';
}

.login {
    width: 593px;
    height: 593px;
}
