:root {
    --primary: #bd5d25;
}

@font-face {
    font-family: Bungee;
    src: url('../assets/fonts/Bungee-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Yellowtail;
    src: url('../assets/fonts/LNTH-Yellowtail.ttf');
}
