.homePage {
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background: rgb(48, 25, 60);
    background: radial-gradient(circle, rgba(48, 25, 60, 1) 6%, rgba(2, 0, 4, 1) 100%);
}

.title {
    width: 347px;
    font-family: LilitaOne;
}

.content {
    font-size: 38px;
    font-weight: 800;
    line-height: 48px;
}
.login {
    width: 593px;
    height: 593px;
}
